@charset "UTF-8";

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: var(--background_secondary);
    max-width: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    height: 100%;
}

.navegation_left, .navegation_right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0 4rem;
}

.li_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.link_nav {
    position: relative;
    text-decoration: none;
    color: var(--text_navbar);
    font-weight: 700;
}

.link_nav::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 1px;
    background-color: var(--text_navbar);
    transition: transform 0.4s ease;
}
  
.link_nav:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.logo_center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo_center .img_logo {
    width: 60px;
    margin: 0 1rem;
}

