@charset "UTF-8";

.container_events {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0 4rem;
    background-color: var(--background_primary);
}

.title_events {
    width: 100%;
    margin: 10px 0px;
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
    color: var(--title);
}

.text_events {
    width: 100%;
    padding: 0 45% 0 0;
    text-align: left;
    font-size: 1rem;
    color: var(--title_destack);
    margin: 10px 0;
    opacity: 70%;
}

.container_box_events {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.box_events {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 0;
    width: 32%;
    height: 250px;
    background-color: var(--quaternary);
    border-radius: 5px;
}

.title_box_events {
    margin: 10px 20px;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    color: var(--title_secondary);
    opacity: 90%;
}

.text_box_events {
    margin: 10px 20px;
    text-align: left;
    font-size: 1rem;
    color: var(--title_secondary);
    opacity: 90%;
}

.btn_events {
    margin: 10px 20px;
    width: 150px;
    min-height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--secondary);
    color: var(--title_secondary);
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.btn_events:hover {
    background-color: var(--quinary);
}

.btn_all_events {
    margin: 100px 0 0 0;
    min-width: 150px;
    min-height: 50px;
    border: 1px solid var(--quinary);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    color: var(--quinary);
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.btn_all_events:hover {
    background-color: var(--quaternary);
    color: var(--neutral);
    border: none;
}